.card {
    display: flex;
    flex-direction: column;

    &.horizontal {
        flex-direction: row;
    }

    border: 1px solid #e4e4e4;
    background-color: #fff;

    > .header {
        position: relative;

        padding: 10px;
        border-bottom: 1px solid #e4e4e4;
        background-color: #e4e4e4;

        overflow: hidden;

        > .background-icon {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 5rem;
            width: 100%;
            text-align: center;
            color: rgba(255, 255, 255, 0.2);
            transform: rotateZ(15deg);
        }
    }

    > .content {
        position: relative;
        padding: 10px;
        flex: 1 1 auto;

        &:not(:first-child) {
            border-top: 1px solid #e4e4e4;
        }
    }
}
