.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;

    @for $rows from 1 through 12 {
        @for $cols from 1 through 12 {
            &.grid-#{$cols}x#{$rows} {
                display: grid;
                grid-template-columns: repeat($cols, 1fr);
                grid-template-rows: repeat($rows, 1fr);
                grid-gap: 10px;
            }
        }
    }

    @for $row from 1 through 12 {
        .grid-row-#{$row} {
            grid-row: $row / span 1;

            @for $span from 2 through 12 {
                &.rowspan-#{$span} {
                    grid-row: $row / span $span;
                }
            }
        }
    }

    @for $span from 2 through 12 {
        .rowspan-#{$span} {
            grid-row: auto / span $span;
        }
    }

    @for $col from 1 through 12 {
        .grid-col-#{$col} {
            grid-column: $col / span 1;

            @for $span from 2 through 12 {
                &.colspan-#{$span} {
                    grid-column: $col / span $span;
                }
            }
        }
    }

    @for $span from 2 through 12 {
        .colspan-#{$span} {
            grid-column: auto / span $span;
        }
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 #{$grid-gutter / 2};
}

.container-fluid {
    padding: 0 #{$grid-gutter / 2};
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin: 0 -#{$grid-gutter / 2};
}

@each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint);

    @for $size from 1 through $col-max-size {
        .col#{$infix}-#{$size} {
            width: 100%;
            padding: 0 #{$grid-gutter / 2};
        }
    }

    @include breakpoint-up($breakpoint) {
        @for $size from 1 through $col-max-size {
            .col#{$infix}-#{$size} {
                max-width: (100% / ($col-max-size / $size));
                flex: 0 0 (100% / ($col-max-size / $size));
                padding: 0 #{$grid-gutter / 2};
            }
        }
    }
}
