ul.list-group {
    display: flex;
    flex-direction: column;

    padding: 0;

    > li, .list-item {
        display: block;

        background-color: #fff;
        border-top: 1px solid #e4e4e4;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;

        &:last-child {
            border-bottom: 1px solid #e4e4e4;
        }

        padding: 0.75rem 1.25rem;

        &.active {
            background-color: #e4e4e4;
        }
    }

    > a:hover {
        background-color: #f8f8f8;
    }
}
