@import "variables";

.cover-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@for $i from 1 through 10 {
    .h-#{$i * 10} {
        height: $i * 10%;
    }
    .w-#{$i * 10} {
        width: $i * 10%;
    }
}

@for $i from 1 through length($spacing-size-factors) {
    $size-factor: nth($spacing-size-factors, $i);
    .p-#{$i - 1} {
        padding: ($spacer * $size-factor) !important;
    }
}

/*
 * Margins
 */
@for $i from 1 through length($spacing-size-factors) {
    $size-factor: nth($spacing-size-factors, $i);
    .m-#{$i - 1} {
        margin: ($spacer * $size-factor) !important;
    }

    .mt-#{$i - 1} {
        margin-top: ($spacer * $size-factor) !important;
    }

    .mb-#{$i - 1} {
        margin-bottom: ($spacer * $size-factor) !important;
    }

    .ml-#{$i - 1} {
        margin-left: ($spacer * $size-factor) !important;
    }

    .mr-#{$i - 1} {
        margin-right: ($spacer * $size-factor) !important;
    }
}


.flex-fixed {
    flex-grow: 0;
    flex-shrink: 0;
}

@each $color in map-keys($colors) {
    .color-#{$color} {
        color: color($color) !important;
    }

    .bg-#{$color} {
        background-color: color($color) !important;
    }
}

.hide {
    display: none !important;
}

.dropdown {
    display: none;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    z-index: 99;
}

.pull-right {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

small {
    color: #999;
}