.tabs {

  > ol.items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    > li {
      padding: 0.5rem 1rem;
      border-bottom: 3px solid transparent;

      cursor: pointer;

      transition: all ease-in-out 200ms;

      &.active {
        border-bottom: 3px solid color(primary);
      }

      &:hover {
        border-bottom: 3px solid color(highlight);
      }
    }
  }

  > .content {
    padding: 0.5rem;
  }

}