/*
 * Colors
 */
$colors: (
        default: #FFFFFF,
        primary: #32064A,
        highlight: #E42C6A,
        highlight-2: #FCD02C,
        highlight-3: #E56B1F,
        bad: #BA3D54,
        warning: #F9F871,
        okay: #00C9B5
);

$text-colors: (
        default: #000000,
        primary: #FFFFFF,
        highlight: #FFFFFF,
        highlight-2: #FFFFFF,
        highlight-3: #FFFFFF,
        bad: #FFFFFF,
        warning: #FFFFFF,
        okay: #FFFFFF,
);

@function color($name) {
  @return map-get($colors, $name);
}

@function text-color($name) {
  @return map-get($text-colors, $name);
}


/*
 * Responsive
 */
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);


/*
 * Grid
 */
$grid-gutter: 10px;
$col-max-size: 12;

$spacer: 1rem;


/*
 * Margins/Paddings
 */
$spacing-size-factors: (
        0,
        0.25,
        0.5,
        1,
        1.5,
        3
);