* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

@import "variables";
@import "breakpoints";
@import "typography";
@import "grid";
@import "transitions";
@import "lists";
@import "forms";
@import "cards";
@import "menus";
@import "misc";
@import "nav";
@import "badges";
@import "toasts";
@import "tabs";
@import "custom";
